<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">>
  <package id="HarmonyX" version="2.5.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net461" />
  <package id="MonoMod.RuntimeDetour" version="21.4.21.3" targetFramework="net461" />
  <package id="MonoMod.Utils" version="21.4.21.3" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="Unity" version="5.11.10" targetFramework="net461" />
</packages>